<!-- Global site tag (gtag.js) - Google Analytics -->
<script>
  var motto = "";
  var shortDescription = "";
  motto += " ________                                             _____________       " + "\n";
  motto += " ___  __ \\___________ _________     ______________    ___  __ \\__(_)____  " + "\n";
  motto += " __  / / /  _ \\_  __ `__ \\  __ \\    _  __ \\_  ___/    __  / / /_  /_  _ \\ " + "\n";
  motto += " _  /_/ //  __/  / / / / / /_/ /    / /_/ /  /        _  /_/ /_  / /  __/ " + "\n";
  motto += " /_____/ \\___//_/ /_/ /_/\\____/     \\____//_/         /_____/ /_/  \\___/  " + "\n";

  shortDescription += "Hello world, my name is Harry. I am a dev. Contact me at console@harrychen.net";

  console.log(motto);
  console.log(shortDescription);
</script>
